.avatar {
  flex: none;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #fff;
}

.waveA {
  background: linear-gradient(135deg, #087fc1, #35bce8);
}

.waveB {
  background: linear-gradient(135deg, #0d3555, #159ed7);
}

.waveC {
  background: linear-gradient(135deg, #159ed7, #4cc9f0);
}
